{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "mender_environment": "readonly"
  },
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 2],
    "quotes": [2, "single", { "allowTemplateLiterals": true }],
    "react/jsx-no-target-blank": 0,
    "react/prop-types": 0,
    "no-console": 0,
    "no-multiple-empty-lines": 2,
    "consistent-this": ["error", "self"]
  }
}
