{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:sonarjs/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "mender_environment": "readonly"
  },
  "plugins": ["react", "prettier", "sonarjs"],
  "rules": {
    "prettier/prettier": "error",
    "consistent-this": ["error", "self"],
    "import/no-named-as-default": "off",
    "no-console": "off",
    "no-multiple-empty-lines": "error",
    "no-prototype-builtins": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "react/forbid-dom-props": "error",
    "react/no-redundant-should-component-update": "error",
    "react/no-this-in-sfc": "error",
    "react/no-typos": "error",
    "react/no-unsafe": "error",
    "react/no-unused-prop-types": "error",
    "react/prefer-es6-class": "error",
    "react/prefer-stateless-function": "error",
    "react/prop-types": "off",
    "react/require-default-props": "error",
    "react/sort-prop-types": "error",
    "react/state-in-constructor": "error",
    "react/static-property-placement": "error",
    "react/style-prop-object": "error",
    "react/void-dom-elements-no-children": "error",
    "react/jsx-no-target-blank": "error",
    "sonarjs/cognitive-complexity": ["error", 17],
    "sonarjs/no-nested-template-literals": "off"
  }
}
