image: node:20-alpine

stages:
  - pre-test
  - test
  - build
  - e2e-test
  - publish

variables:
  DOCKER_REPOSITORY: mendersoftware/gui
  DOCS_VERSION: development

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-docker-build.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - project: 'Northern.tech/Mender/mender-qa'
    file: 'gitlab-pipeline/internal-variables.yml'

.export_docker_vars: &export_docker_vars |
  DOCKER_BUILD_TAG=${CI_COMMIT_REF_SLUG:-local}
  DOCKER_BUILD_SERVICE_IMAGE=${DOCKER_REPOSITORY}:${DOCKER_BUILD_TAG}
  DOCKER_PUBLISH_TAG=${CI_COMMIT_REF_NAME}
  DOCKER_PUBLISH_COMMIT_TAG=${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA}

test:lint:
  stage: test
  except:
    - master
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  needs: []
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  script:
    - npm ci --cache .npm --prefer-offline
    - cd tests/e2e_tests && npm ci && cd ../..
    - npm run lint
  tags:
    - mender-qa-worker-generic-light

test:types:
  stage: test
  image: python:3.11
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
  before_script:
    # Prepare SSH key
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    # Configure git
    - git config --global user.email "mender@northern.tech"
    - git config --global user.name "Mender Test Bot"
    # install hub cli + deno + release tool dependency
    - apt-get update && apt-get install hub -qqy
    - curl -fsSL https://deno.land/x/install/install.sh | sh && export PATH="/root/.deno/bin:$PATH"
    - wget https://raw.githubusercontent.com/mendersoftware/integration/master/extra/requirements.txt
    - pip3 install -r requirements.txt
    # get enterprise api specs from all the repos, based on mender-api-docs tooling
    - export GITHUB_TOKEN=${GITHUB_BOT_TOKEN_REPO_FULL}
    - cd scripts
    - 'wget --header "Authorization: token $GITHUB_TOKEN" https://raw.githubusercontent.com/mendersoftware/mender-api-docs/master/versions.template.js'
    - cd typeGeneration
    - 'wget --header "Authorization: token $GITHUB_TOKEN" https://raw.githubusercontent.com/mendersoftware/mender-api-docs/master/specs/download.sh'
    - chmod +x ./download.sh && TARGET=specs ./download.sh
  script:
    - deno run --allow-read --allow-write --allow-net convert.js
    - deno fmt generated/models
    - mkdir -p ../../src/js/api/types && mv -f generated/models/* ../../src/js/api/types
    - cd ../..
    - git checkout -b update-types-$(date +%s)
    - 'git add src/js/api/types && git commit --signoff -m "chore: Types update"'
    - git remote add mendersoftware git@github.com:mendersoftware/gui.git
    - 'hub pull-request --push --base mendersoftware:master --message "chore: Types update" --message "keeping types aligned"'
  allow_failure: true
  artifacts:
    expire_in: 2w
    paths:
      - scripts/typeGeneration
      - src/js/api/types

test:licenses:
  image: denoland/deno:alpine
  stage: test
  except:
    - master
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  needs: []
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  before_script:
    - apk add --no-cache nodejs npm
    - npm ci
  script:
    - cd tests/licenses
    - deno run --allow-read --allow-env licenseCheck.ts
  tags:
    - mender-qa-worker-generic-light

.template:test:acceptance:
  stage: e2e-test
  image: tiangolo/docker-with-compose
  needs:
    - job: build:docker
      artifacts: true
  services:
    - docker:dind
  before_script:
    - export DOCKER_TAG=${CI_COMMIT_REF_SLUG:-master}
    - export SERVICE_IMAGE=${DOCKER_REPOSITORY}:${DOCKER_TAG}
    - apk add --no-cache bash git jq wget
    - git clone --no-tags --depth=1 --single-branch https://github.com/mendersoftware/integration.git
    - docker load -i image.tar
  artifacts:
    expire_in: 2w
    paths:
      - coverage
      - screenshots
      - logs
      - junit
    reports:
      junit:
        - junit/results.xml
    when: always

test:acceptance:
  extends: .template:test:acceptance
  except:
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  script:
    - docker tag $SERVICE_IMAGE $DOCKER_REPOSITORY:pr
    - GUI_REPOSITORY=$(pwd) INTEGRATION_PATH=$(pwd)/integration ./tests/e2e_tests/run
    - docker rmi $DOCKER_REPOSITORY:pr

test:acceptance:enterprise:
  extends: .template:test:acceptance
  only:
    - master
  variables:
    TEST_ENVIRONMENT: enterprise
  script:
    - if [ -n "$REGISTRY_MENDER_IO_USERNAME" ]; then
    - docker login -u $REGISTRY_MENDER_IO_USERNAME -p $REGISTRY_MENDER_IO_PASSWORD registry.mender.io
    - fi
    - docker tag $SERVICE_IMAGE $DOCKER_REPOSITORY:pr
    - GUI_REPOSITORY=$(pwd) INTEGRATION_PATH=$(pwd)/integration ./tests/e2e_tests/run --enterprise
    - docker rmi $DOCKER_REPOSITORY:pr

test:acceptance:unprivileged:
  extends: .template:test:acceptance
  only:
    - master
  script:
    - docker load -i unprivilegedImage.tar
    - docker tag ${DOCKER_REPOSITORY}:unprivileged $DOCKER_REPOSITORY:pr
    - GUI_REPOSITORY=$(pwd) INTEGRATION_PATH=$(pwd)/integration ./tests/e2e_tests/run --unprivileged
    - docker rmi $DOCKER_REPOSITORY:pr

test:acceptance:enterprise-unprivileged:
  extends: .template:test:acceptance
  only:
    - master
  variables:
    TEST_ENVIRONMENT: enterprise
  script:
    - docker load -i unprivilegedImage.tar
    - if [ -n "$REGISTRY_MENDER_IO_USERNAME" ]; then
    - docker login -u $REGISTRY_MENDER_IO_USERNAME -p $REGISTRY_MENDER_IO_PASSWORD registry.mender.io
    - fi
    - docker tag ${DOCKER_REPOSITORY}:unprivileged $DOCKER_REPOSITORY:pr
    - GUI_REPOSITORY=$(pwd) INTEGRATION_PATH=$(pwd)/integration ./tests/e2e_tests/run --enterprise --unprivileged
    - docker rmi $DOCKER_REPOSITORY:pr

test:unit:
  stage: test
  except:
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  needs: []
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - .npm/
  script:
    - npm i -g npm
    - npm ci --cache .npm --prefer-offline
    - npm run test -- --ci --maxWorkers=2 --reporters=default --reporters=jest-junit
  after_script:
    - mkdir logs && cp .npm/_logs/* logs/
  artifacts:
    expire_in: 2w
    paths:
      - coverage
      - logs
    reports:
      junit: junit.xml
    when: always
  tags:
    - mender-qa-worker-gui-tests

test:docs-links:
  stage: test
  needs: []
  except:
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  before_script:
    - apk add --no-cache curl
  script:
    - links=$(grep -r docs.mender.io src/ | grep -v snapshots | sed -e 's,\${docsVersion},'${DOCS_VERSION}'/,g' | sed -e 's,\${path},''/,g' | egrep -o 'https?://[^ `"]+' | sort | uniq)
    - error=0
    - for url in $links; do
    - if ! curl --output /dev/null --silent --head --fail $url; then
    - error=1
    - echo "[ko] $url"
    - else
    - echo "[ok] $url"
    - fi
    - done
    - if [ $error -gt 0 ]; then
    - exit 1
    - fi
  tags:
    - mender-qa-worker-generic-light

test:docs-links:hosted:
  extends: test:docs-links
  only:
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  except: []
  variables:
    DOCS_VERSION: hosted

test:prep:
  stage: pre-test
  image: docker
  only:
    - staging
  services:
    - docker:dind
  script:
    - docker run --rm --entrypoint "/bin/sh" -v $(pwd):/extract mendersoftware/mender-stress-test-client:master -c "cp mender-stress-test-client /extract/"
  artifacts:
    paths:
      - mender-stress-test-client
    expire_in: 30 days
  tags:
    - mender-qa-worker-generic-light

build:docker:
  services:
    - docker:dind
  # unfortunately we can't just extend the after_script here as it would require rebuilding all layers of the image for the different build targets
  script:
    - echo "building ${CI_PROJECT_NAME} for ${DOCKER_BUILD_SERVICE_IMAGE}"
    - apk add --no-cache git
    - docker context create the-context
    - docker buildx create --driver=docker-container --name=buildx-builder --use the-context
    - docker buildx build
      --build-arg GIT_COMMIT_TAG="${DOCKER_PUBLISH_COMMIT_TAG}"
      --tag $DOCKER_BUILD_SERVICE_IMAGE
      --output=type=docker,dest=- . > image.tar
    - docker buildx build --tag ${DOCKER_REPOSITORY}:base
      --target base
      --output=type=docker,dest=- . > baseImage.tar
    - docker buildx build --tag ${DOCKER_REPOSITORY}:unprivileged
      --target unprivileged
      --build-arg GIT_COMMIT_TAG="${DOCKER_PUBLISH_COMMIT_TAG}"
      --output=type=docker,dest=- . > unprivilegedImage.tar
  artifacts:
    paths:
      - baseImage.tar
      - image.tar
      - unprivilegedImage.tar

.template:test:staging-deployment:
  image: mendersoftware/mender-test-containers:gui-e2e-testing
  stage: .post
  services:
    - docker:dind
  cache:
    key:
      files:
        - tests/e2e_tests/package-lock.json
    paths:
      - .npm/
  dependencies:
    - test:prep
  variables:
    CI: 1
    DEVICE_TYPE: qemux86-64
    TEST_ENVIRONMENT: staging
  before_script:
    - curl -fsSL https://get.docker.com | sh
    - mv mender-stress-test-client tests/e2e_tests/ && cd tests/e2e_tests
    - mv /e2e/mender-demo-artifact.mender .
    - docker pull mendersoftware/mender-client-docker-addons:master
    - npm ci --cache .npm --prefer-offline
  script:
    - npm run test-ci
  after_script:
    - cd $CI_PROJECT_DIR
    - mkdir logs && cp /root/.npm/_logs/* logs/
  only:
    - staging
  when: delayed
  start_in: 15 minutes
  artifacts:
    expire_in: 2w
    paths:
      - tests/e2e_tests/test-results
      - logs
    when: always
  tags:
    - mender-qa-worker-generic-light

test:staging-deployment:chrome:
  extends: .template:test:staging-deployment
  script:
    - npm run test-ci

test:staging-deployment:firefox:
  extends: .template:test:staging-deployment
  script:
    - npm run test-ci -- --browser=firefox

test:staging-deployment:webkit:
  extends: .template:test:staging-deployment
  script:
    - npm run test-ci -- --browser=webkit

.template:publish:tests:
  stage: publish
  before_script:
    - export CI_BUILD_REF=${CI_COMMIT_SHA}
    - export CI_BUILD_REF_NAME=${CI_COMMIT_REF_NAME}
    - export CI_MERGE_REQUEST_IID=${CI_COMMIT_BRANCH#pr_}
    - export COVERALLS_PARALLEL=true
    - export COVERALLS_SERVICE_JOB_ID=${CI_JOB_ID}
    - export COVERALLS_SERVICE_NUMBER=${CI_PIPELINE_ID}
    - apk add --no-cache git
    - npm i -g coveralls
  tags:
    - mender-qa-worker-generic-light

publish:tests:
  extends: .template:publish:tests
  except:
    - /^(staging|saas-[a-zA-Z0-9.]+)$/
  needs:
    - test:unit
  script:
    - export COVERALLS_SERVICE_JOB_NUMBER=unittests
    - export COVERALLS_FLAG_NAME=unittests
    - coveralls < coverage/lcov.info

publish:e2e-tests:
  extends: .template:publish:tests
  only:
    - master
  needs:
    - test:acceptance:enterprise
  script:
    - export COVERALLS_SERVICE_JOB_NUMBER=e2etests
    - export COVERALLS_FLAG_NAME=e2etests
    - sed -i -re 's/(^[SF:]+[../]+)(.*)$/SF:\2/' coverage/lcov.info
    - coveralls < coverage/lcov.info

publish:disclaimer:
  stage: publish
  image: docker:git
  needs:
    - job: build:docker
      artifacts: true
  services:
    - docker:dind
  variables:
    DOCKER_BUILDKIT: 1
  script:
    - docker load -i baseImage.tar
    - docker build -t disclaimer --target disclaim .
    - docker run --rm --entrypoint "/bin/sh" -v $(pwd):/extract disclaimer -c "cp disclaimer.txt /extract/"
    - docker image rm disclaimer
  artifacts:
    expire_in: 2w
    paths:
      - disclaimer.txt
  only:
    - /^(master|staging|[0-9]+\.[0-9]+\.x)$/
  tags:
    - mender-qa-worker-generic-light

publish:image:
  after_script:
    - *export_docker_vars
    - docker load -i unprivilegedImage.tar
    - docker tag $DOCKER_BUILD_SERVICE_IMAGE $DOCKER_REPOSITORY:${DOCKER_PUBLISH_TAG}-unprivileged
    - docker push $DOCKER_REPOSITORY:${DOCKER_PUBLISH_TAG}-unprivileged

publish:image:mender:
  after_script:
    - *export_docker_vars
    - integration_versions=$(release_tool --integration-versions-including $CI_PROJECT_NAME --version $CI_COMMIT_REF_NAME | sed -e 's/origin\///')
    - docker load -i unprivilegedImage.tar
    - for version in $integration_versions; do
    - docker tag $DOCKER_BUILD_SERVICE_IMAGE $DOCKER_REPOSITORY:mender-${version}-unprivileged
    - docker push $DOCKER_REPOSITORY:mender-${version}-unprivileged
    - done

coveralls:done:
  image: curlimages/curl
  stage: .post
  script:
    - curl "https://coveralls.io/webhook?repo_token=$COVERALLS_REPO_TOKEN" -d "payload[build_num]=$CI_PIPELINE_ID&payload[status]=done"
  tags:
    - mender-qa-worker-generic-light
