image: docker:git

stages:
  - test
  - build
  - e2e-test
  - publish

before_script:
  - export DOCKER_REPOSITORY="mendersoftware/gui"
  - export DOCKER_TAG=${CI_COMMIT_REF_SLUG:-master}
  - export SERVICE_IMAGE=$DOCKER_REPOSITORY:$DOCKER_TAG
  - export COMMIT_TAG="$CI_COMMIT_REF_SLUG"_"$CI_COMMIT_SHA";
  - export GIT_REF=${CI_COMMIT_REF_NAME}
  - export GIT_COMMIT=${CI_COMMIT_SHORT_SHA}

build:
  stage: build
  services:
    - docker:dind
  script:
    - echo "building gui for ${SERVICE_IMAGE}"
    - docker build
      --build-arg GIT_REF=${GIT_REF}
      --build-arg GIT_COMMIT=${GIT_COMMIT}
      -t $SERVICE_IMAGE
      .
    - docker save $SERVICE_IMAGE > image.tar
  artifacts:
    expire_in: 2w
    paths:
      - image.tar
  tags:
    - docker

test:static:
  stage: test
  before_script:
    - apk add --no-cache bash
    # Rename the branch we're on, so that it's not in the way for the
    # subsequent fetch. It's ok if this fails, it just means we're not on any
    # branch.
    - git branch -m temp-branch || true
    # Git trick: Fetch directly into our local branches instead of remote
    # branches.
    - git fetch origin 'refs/heads/*:refs/heads/*'
    # Get last remaining tags, if any.
    - git fetch --tags origin
    - git clone http://github.com/mendersoftware/mendertesting
  script:
    - mendertesting/check_commits.sh

test:lint:
  stage: test
  image: node:12.14.0-alpine
  script:
    - npm ci
    - npm run lint
  except:
    - master

test:acceptance:
  image: tiangolo/docker-with-compose
  dependencies:
    - build
  services:
    - docker:18-dind
  stage: e2e-test
  script:
    - docker load -i image.tar
    - docker tag $SERVICE_IMAGE $DOCKER_REPOSITORY:pr
    - apk add git bash
    - git clone https://github.com/mendersoftware/integration.git
    - cp -r integration/tests/* tests
    - GUI_REPOSITORY=$(pwd) INTEGRATION_PATH=$(pwd)/integration ./tests/e2e_tests/run
    - docker rmi $DOCKER_REPOSITORY:pr
  tags:
    - mender-qa-slave

test:unit:
  image: node:12.14.0-alpine
  stage: test
  script:
    - npm install
    - npm run test

publish:image:
  stage: publish
  services:
    - docker:dind
  dependencies:
    - build
  script:
    - docker load -i image.tar
    - docker tag $SERVICE_IMAGE $DOCKER_REPOSITORY:$COMMIT_TAG
    - docker tag $SERVICE_IMAGE $DOCKER_REPOSITORY:$CI_COMMIT_REF_SLUG
    - echo -n $DOCKER_HUB_PASSWORD | docker login -u $DOCKER_HUB_USERNAME --password-stdin
    - docker push $DOCKER_REPOSITORY:$COMMIT_TAG
    - docker push $SERVICE_IMAGE
  only:
    - /^(master|[0-9]+\.[0-9]+\.x)$/
  tags:
    - docker

publish:disclaimer:
  image: node:12.14.0-alpine
  stage: publish
  script:
    - npm ci
    - npm run disclaim
  artifacts:
    expire_in: 2w
    paths:
      - disclaimer.txt
  only:
    - /^(master|[0-9]+\.[0-9]+\.x)$/
