{
  "arrowParens": "avoid",
  "importOrder": [
    "^react*",
    "@emotion/*|@mui/*|tss-react/*",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 160,
  "quoteProps": "preserve",
  "singleQuote": true,
  "trailingComma": "none"
}
