html, body {
  height: 100%;
}


/* Type */

body {
  font-family: Lato;
  font-size: 13px;
  margin: 0;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* General */

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing:    @type;
  box-sizing:         @type;
}

.hidden {
  display: none !important;
}

.margin-top {
  margin-top: 30px;
}
.margin-left {
  margin-left: 30px;
}
.margin-right {
  margin-right: 30px;
}
.margin-bottom {
  margin-bottom: 30px;
}

.padding-right {
  padding-right: 30px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.float-right {
  float: right;
}

.clickable {
  cursor: pointer;
  &:hover {
    .scale(1.01);
  }
}


.hoverEdit:hover>.opacityButton{
  opacity: 1!important;
}

.hoverText:hover>hr {
  border-bottom: 2px solid #e0e0e0 !important;
}


/* Header */

#header-nav {
  position: relative;
  border-top: 1px solid #e0e0e0;
  padding-right: 30%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}

#logo {
  position:absolute;
  left: 5px;
  top: 5px;
  width: 180px;
  height: 48px;
  background-image: url('../assets/img/headerlogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}



/* Layout */

.leftFixed {
  width: 260px;
  float: left;

  .innerBlock {
    width: 100%;
    margin-right: -260px;
    padding-top: 20px;
  }
}

.rightFluid {
  margin-left: 290px;
}


.tableActions {
  padding: 20px 0 20px 28px;
}

.largeDialog {
  width: 96% !important;
  max-width: 96% !important;
}


.widget {
  width: 50%;
  min-height: 200px;
  float: left;
  padding: 22px 4% 22px;
  margin: 0 15px 30px; 

  &.small {
    width: 20%;
  }
}


.filterPair {
  margin-bottom: 14px;
  width: 84%;
  padding: 4px 10% 4px 11px;
  position: relative;
  background-color: #fafbfc;

  &:first-child {
    margin-top:14px;
  }
}

.deviceInfo {
  margin-top: 35px;
  border-top: 1px solid #e0e0e0;

  h3 {
    margin-bottom: 0;
    margin-top: 24px;
  }
}

span.length {
  font-size: 13px;
  color: #8c8c8d;
}

.maxTable {
  max-height: 55vh;
  overflow: auto;
}

/* report view */

.report-list {
  display: inline-block;
  margin-right: 30px;
  width: 280px;
}

.tabContainer, .contentContainer {
  padding: 30px;
}


/* Forms */ 
.inputGroup {
  padding: 12px;
  background-color: rgba(66,66,66,0.03);
}

p.info {
  margin: 20px 0;
  color: rgba(66,66,66,0.6)
}


button:disabled .material-icons {
  color: rgba(0,0,0,0.3) !important;
}

button.remove-icon:disabled .material-icons {
  color: rgba(0,0,0,0.3) !important;
}

button.remove-icon .material-icons {
  color: #679BA5 !important;
}

.material-icons.error-icon {
  color: rgb(171, 16, 0) !important;
}

hr.table-divider {
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
}

/* LESS MIXINS */
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}