/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../assets/fonts/lato-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/lato-v11-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../assets/fonts/lato-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/lato-v11-latin-italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../assets/fonts/lato-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/lato-v11-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('../assets/fonts/lato-v11-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/lato-v11-latin-700italic.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../assets/fonts/lato-v11-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/lato-v11-latin-900.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../assets/fonts/roboto-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v15-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v15-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/roboto-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/roboto-v15-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'), url('../assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
html {
  height: 100%;
  min-width: 1000px;
}
body {
  min-height: 100%;
}
* {
  box-sizing: border-box;
}
/* General */
.green {
  color: #009E73;
}
.red {
  color: #8F0D0D;
}
.lightestgrey {
  background-color: #F7F7F7;
}
.lightgrey {
  background-color: #d4e9e7;
}
.grey {
  background-color: #c7c7c7;
}
/* Type */
body {
  font-family: Lato, sans-serif;
  font-size: 13px;
  margin: 0;
  color: #404041;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
a,
span.link {
  font-weight: bold;
  text-decoration: none;
  color: #347A87;
  cursor: pointer;
}
a:hover,
span.link:hover {
  color: #679BA5;
}
a.small,
span.link.small {
  font-size: 13px;
}
.nowrap {
  white-space: nowrap;
}
.capitalized {
  text-transform: capitalize;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.break-word {
  white-space: normal;
  word-wrap: break-word;
}
.clear {
  clear: both;
}
.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute !important;
}
.margin-top {
  margin-top: 30px;
}
.margin-top-small {
  margin-top: 15px;
}
.margin-top-none {
  margin-top: 0;
}
.margin-left {
  margin-left: 30px;
}
.margin-left-small {
  margin-left: 15px;
}
.margin-right {
  margin-right: 30px;
}
.margin-bottom {
  margin-bottom: 30px;
}
.margin-bottom-large {
  margin-bottom: 45px;
}
.margin-bottom-small {
  margin-bottom: 15px;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.padding-right {
  padding-right: 45px;
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.clickable {
  cursor: pointer;
}
.muted {
  opacity: 0.4;
}
.hoverText:hover > hr {
  border-bottom: 2px solid #e0e0e0 !important;
}
.fadeIn {
  -webkit-animation: fadein 0.2s 1;
  -moz-animation: fadein 0.2s 1;
  -ms-animation: fadein 0.2s 1;
  -o-animation: fadein 0.2s 1;
}
/* Header */
#header-nav {
  position: relative;
  border-top: 1px solid #e0e0e0;
  padding-right: 30%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}
#logo {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 180px;
  height: 48px;
  background-image: url('../assets/img/headerlogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Layout */
.flexbox {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.allow-overflow {
  overflow: visible;
}
.align-top {
  display: inline-block;
  vertical-align: top;
}
.leftFixed {
  width: 260px;
  float: left;
}
.leftFixed .innerBlock {
  width: 100%;
  margin-right: -260px;
  padding-top: 20px;
}
.rightFluid {
  margin-left: 290px;
  padding-bottom: 30px;
  position: relative;
}
.tableActions {
  padding: 20px 0 20px 28px;
}
.dialog {
  -webkit-transition: width 1s ease-in-out !important;
  -moz-transition: width 1s ease-in-out !important;
  -ms-transition: width 1s ease-in-out !important;
  -o-transition: width 1s ease-in-out !important;
}
.largeDialog {
  width: inherit !important;
  max-width: 96% !important;
  -webkit-transition: width 1s ease-in-out !important;
  -moz-transition: width 1s ease-in-out !important;
  -ms-transition: width 1s ease-in-out !important;
  -o-transition: width 1s ease-in-out !important;
}
.dialogTableContainer {
  padding-top: 60px;
  -webkit-transition: opacity 0.7s ease-in !important;
  -moz-transition: opacity 0.7s ease-in !important;
  -ms-transition: opacity 0.7s ease-in !important;
  -o-transition: opacity 0.7s ease-in !important;
  overflow: hidden;
  position: relative;
  opacity: 1;
  min-height: 53vh;
}
.dialogTableContainer.zero {
  min-height: 100px;
  height: 100px;
  opacity: 0;
  padding: 0;
}
.onboard {
  padding: 30px 15px;
  border-style: dashed;
  border-color: #e7e7e7;
  border-width: 1px;
  text-align: center;
  position: relative;
  background-color: inherit;
  overflow: hidden;
}
.onboard p {
  margin-top: 0;
  font-size: 1.25em;
}
.onboard h3 {
  font-family: Andale Mono;
  font-weight: lighter;
  color: #e7e7e7;
  margin-top: 10px;
  font-size: 1.25em;
}
.onboard h3 span.todo {
  color: yellow;
}
.onboard .link.todo {
  color: lawngreen;
  font-family: Andale Mono;
  text-decoration: underline;
}
.onboard .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/close.png');
  cursor: pointer;
}
.onboard a.float-right {
  position: relative;
  bottom: 10px;
  font-size: 1em;
}
.joyride-beacon {
  cursor: pointer;
}
.joyride-beacon.bottom {
  bottom: -18px;
  left: 50%;
  margin-left: -18px;
}
.tooltip.info {
  position: absolute;
  top: 2px;
  right: 0px;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -webkit-transition: transform 0.4s ease-in;
  -moz-transition: transform 0.4s ease-in;
  -ms-transition: transform 0.4s ease-in;
  -o-transition: transform 0.4s ease-in;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.tooltip.info .material-icons {
  color: #c7c7c7 !important;
}
.tooltip.info:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-animation: bounce 0.4s forwards;
  -moz-animation: bounce 0.4s forwards;
  -ms-animation: bounce 0.4s forwards;
  -o-animation: bounce 0.4s forwards;
}
.joyride-tooltip__header {
  border-bottom: none !important;
}
.development {
  background-color: #679BA5;
  padding: 7px 11px;
  color: #F7F7F7;
  border-radius: 20px;
  margin: -10px 0 10px;
  display: table;
}
.development .material-icons {
  margin-right: 7px;
  color: #F7F7F7;
  vertical-align: text-bottom;
  font-size: 18px;
}
.material-icons.green {
  background: none;
  color: #009E73 !important;
}
.material-icons.red {
  background: none;
  color: #8F0D0D !important;
}
.material-icons.update {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.absoluteTextfieldButton {
  position: absolute;
  top: 70px;
  left: 24px;
  -webkit-transition: all 0.42s ease-in-out !important;
  -moz-transition: all 0.42s ease-in-out !important;
  -ms-transition: all 0.42s ease-in-out !important;
  -o-transition: all 0.42s ease-in-out !important;
  z-index: 1400;
  display: inline-block;
}
.absoluteTextfieldButton.top-right {
  left: 478px;
}
.fixedSearch {
  position: fixed;
  left: 24px;
  right: 24px;
  top: 72px;
  padding: 24px 0;
  background-color: white;
  z-index: 30000;
}
.top-right {
  position: absolute !important;
  top: 0;
  right: 0;
}
.widget {
  width: 50%;
  min-height: 200px;
  float: left;
  padding: 22px 4% 22px;
  margin: 0 15px 30px;
}
.widget.small {
  width: 20%;
}
.filterWrapper {
  padding: 10px 20px;
  overflow-y: auto;
}
.filterPair {
  margin-bottom: 14px;
  padding: 4px 10% 4px 11px;
  position: relative;
  background-color: #fafbfc;
}
.filterPair:first-child {
  margin-top: 14px;
}
span.length {
  font-size: 13px;
  color: #8c8c8d;
}
.maxTable {
  max-height: 50vh;
  overflow: auto;
}
.columnHeader .sortIcon {
  visibility: hidden;
  -webkit-transition: visibility 0.1s ease-in !important;
  -moz-transition: visibility 0.1s ease-in !important;
  -ms-transition: visibility 0.1s ease-in !important;
  -o-transition: visibility 0.1s ease-in !important;
}
.columnHeader:hover .sortIcon.selected,
.columnHeader .sortIcon.selected {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.15s ease-in-out !important;
  -moz-transition: all 0.15s ease-in-out !important;
  -ms-transition: all 0.15s ease-in-out !important;
  -o-transition: all 0.15s ease-in-out !important;
}
.columnHeader .sortIcon.selected.false {
  -webkit-transform: rotateX(180deg) !important;
  -moz-transform: rotateX(180deg) !important;
  -ms-transform: rotateX(180deg) !important;
  -o-transform: rotateX(180deg) !important;
}
.tableSearch {
  display: inline-block;
  margin-left: 45px;
  position: relative;
  top: -4px;
}
.search input,
.search input:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #e0e0e0;
  padding: 7px 0;
  padding-left: 32px;
  font-size: 13px;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.search input::-webkit-input-placeholder,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input:-moz-placeholder,
.search input:focus:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input::-moz-placeholder,
.search input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input:-ms-input-placeholder,
.search input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.3);
}
.fixedSearch .search::before {
  top: 10px;
  left: 8px;
}
.closeSlider {
  box-shadow: rgba(0, 0, 0, 0.156863) -2px 0px 4px -9px, rgba(0, 0, 0, 0.227451) -5px 0px 5px -2px !important;
}
.closeSlider:hover {
  background-color: #EBEBEB !important;
}
/* report view */
.report-list,
.list-item {
  display: inline-block;
  margin-right: 3%;
  width: 30%;
  vertical-align: top;
}
.file-details {
  display: inline-block;
  width: 22%;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 3%;
  border: 1px solid #d4e9e7;
}
.report-list div > span > div > div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.listItem-link {
  float: right;
  font-size: 13px;
  font-weight: 500;
}
.tabContainer,
.contentContainer {
  margin: 30px 45px 60px;
  position: relative;
}
.results-status {
  padding-top: 4px;
}
.results-status .disabled {
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
}
.results-status.vertical > div {
  display: block;
  margin-bottom: 5px;
}
.results-status.vertical > div.disabled {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.results-status span.status {
  margin-right: 15px;
}
.results-status span.status::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
  background-position-y: -2px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.results-status span.status.success::before {
  background-image: url('../assets/img/success_status.png');
}
.results-status span.status.failure::before {
  background-image: url('../assets/img/error_status.png');
}
.results-status span.status.pending::before {
  background-image: url('../assets/img/pending_status.png');
}
.results-status span.status.inprogress::before {
  background-image: url('../assets/img/progress_status.png');
}
div.code {
  font-family: monospace;
  margin: 24px;
  border: 1px solid #d4e9e7;
  background-color: #F7F7F7;
  border-radius: 4px;
  padding: 24px;
  max-height: 43vh;
  overflow-y: auto;
  position: relative;
  white-space: pre-line;
  font-size: 14px;
}
/* Forms */
.inputGroup {
  padding: 12px;
  background-color: rgba(66, 66, 66, 0.03);
}
p.info {
  margin: 20px 0;
  color: rgba(66, 66, 66, 0.6);
}
form .required::after {
  content: "* required";
  position: absolute;
  top: 33px;
  left: 410px;
  font-size: 12px;
  color: #347A87;
  width: 100px;
}
form .required.file {
  width: 400px;
}
form .required.file:after {
  top: -40px;
  position: relative;
}
button:disabled .material-icons {
  color: rgba(0, 0, 0, 0.3) !important;
}
button.remove-icon:disabled .material-icons {
  color: rgba(0, 0, 0, 0.3) !important;
}
button.remove-icon .material-icons {
  color: #679BA5 !important;
}
.inline-action {
  position: relative;
  top: -6px;
  margin-left: 10px;
}
.material-icons.error-icon {
  color: #ab1000 !important;
}
hr.table-divider {
  border: 0;
  height: 6px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
}
tr.expand {
  background-color: #f5f5f5;
}
tr.expand .device-info {
  margin-bottom: 10px;
}
tr.expand .device-info h3 {
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.17em;
  font-weight: 700;
}
tr.expand #device-identity {
  border: 1px solid #d4e9e7;
  padding: 0 15px;
  position: relative;
  border-radius: 5px;
}
tr.expand td {
  vertical-align: top;
  padding-top: 16px;
}
tr.expand td div.expanded {
  position: absolute;
  left: 0;
  margin-top: 45px;
  padding: 0 45px;
  right: 0;
}
tr.expand td:first-child > div div {
  margin-top: -1px;
}
tr.expand td:last-child {
  padding-top: 3px;
}
tr.expand td.expandButton {
  padding-top: 2px;
}
.fixedButtons {
  position: fixed;
  bottom: 15px;
  right: 30px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: fadein 0.3s 1;
  -moz-animation: fadein 0.3s 1;
  -ms-animation: fadein 0.3s 1;
  -o-animation: fadein 0.3s 1;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.top-right-button {
  position: absolute;
  top: 3px;
  right: 0;
}
.bottom-right-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.tagContainer {
  margin-top: 20px;
}
.ReactTags__tag {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #d4e9e7;
  color: #679BA5;
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
}
.ReactTags__remove {
  cursor: pointer;
  padding: 10px 0 10px 10px;
}
.ReactTags__tagInput input,
.ReactTags__tagInput input:focus,
input.fileInput {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #e0e0e0;
  padding: 7px 0;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.ReactTags__tagInput input::-webkit-input-placeholder,
.ReactTags__tagInput input:focus::-webkit-input-placeholder,
input.fileInput::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input:-moz-placeholder,
.ReactTags__tagInput input:focus:-moz-placeholder,
input.fileInput:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input::-moz-placeholder,
.ReactTags__tagInput input:focus::-moz-placeholder,
input.fileInput::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input:-ms-input-placeholder,
.ReactTags__tagInput input:focus:-ms-input-placeholder,
input.fileInput:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input[type="file"].fileInput,
input[type="text"].fileInput {
  width: 256px !important;
  margin: 32px 0 10px 0;
  cursor: pointer;
  z-index: 1 !important;
}
input[type="file"].fileInput:first-child,
input[type="text"].fileInput:first-child {
  z-index: 2 !important;
  cursor: pointer !important;
}
input[type="file"].fileInput::-webkit-input-placeholder,
input[type="text"].fileInput::-webkit-input-placeholder {
  background-image: url('../assets/img/file_upload.png');
  background-position: right;
  background-repeat: no-repeat;
}
input[type="file"].fileInput:-moz-placeholder,
input[type="text"].fileInput:-moz-placeholder {
  background-image: url('../assets/img/file_upload.png');
  background-position: right;
  background-repeat: no-repeat;
}
input[type="file"].fileInput::-moz-placeholder,
input[type="text"].fileInput::-moz-placeholder {
  background-image: url('../assets/img/file_upload.png');
  background-position: right;
  background-repeat: no-repeat;
}
input[type="file"].fileInput:-ms-input-placeholder,
input[type="text"].fileInput:-ms-input-placeholder {
  background-image: url('../assets/img/file_upload.png');
  background-position: right;
  background-repeat: no-repeat;
}
input[type="file"].fileInput.error,
input[type="text"].fileInput.error {
  border-bottom-width: 2px;
  border-bottom-color: #ab1000;
}
textarea#inline-description {
  height: initial !important;
  font-size: 12px !important;
  margin-top: 0 !important;
}
.inputHeader {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: block;
}
/* Dashboard */
.leftDashboard {
  width: 71%;
  display: inline-block;
  padding-right: 3%;
  vertical-align: top;
}
.rightDashboard {
  width: 29%;
  display: inline-block;
  border-left: 1px solid #d4e9e7;
  padding-left: 3%;
  vertical-align: top;
}
.rightDashboard .right {
  height: 100%;
}
.health {
  position: relative;
  min-height: 250px;
}
.health .health-panel {
  margin: 15px 0;
  padding: 5% 5% 13%;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid #eaf4f3;
}
.health .health-panel a {
  margin-top: 5%;
}
.health .health-icon {
  width: 33%;
  display: inline-block;
}
.health .health-icon img {
  display: block;
  margin: auto;
}
.health .health-text {
  width: 66%;
  text-align: center;
  display: inline-block;
}
.health .health-text span {
  font-size: 20px;
  vertical-align: text-top;
  font-size: 16px;
}
.health .health-text .number {
  font-size: 4vw;
  font-weight: bold;
  position: relative;
  display: block;
}
.dashboard-placeholder {
  font-size: 16px;
  color: #c7c7c7;
  text-align: center;
  padding: 15px;
  -webkit-animation: fadein 0.2s 1;
  -moz-animation: fadein 0.2s 1;
  -ms-animation: fadein 0.2s 1;
  -o-animation: fadein 0.2s 1;
}
.dashboard-placeholder img {
  margin-top: 15px;
  width: 74px;
}
.activityWrapper {
  margin-bottom: 30px;
  position: relative;
}
.activityWrapper .activityEntry {
  padding: 1px 12px 0.5em;
  background-color: #679BA5;
  color: #E0E0E0;
  position: relative;
}
.activityWrapper .activityEntry p.summary {
  color: #F7F7F7;
}
.activityWrapper .activityEntry:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  bottom: -9px;
  left: 10px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #679BA5;
}
.activityWrapper .activityEntry.negative {
  background-color: #7D3F69;
}
.activityWrapper .activityEntry.negative:after {
  border-left: 10px solid #7D3F69;
}
.activityWrapper .activityTime {
  color: #c7c7c7;
  position: relative;
  top: 12px;
}
.activityEntry {
  cursor: pointer;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.activityEntry:hover {
  -webkit-transform: scale(1.005);
  -moz-transform: scale(1.005);
  -ms-transform: scale(1.005);
  -o-transform: scale(1.005);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.deployments {
  position: relative;
}
span.month,
span.day {
  display: block;
  text-align: center;
}
.dashboard-header {
  border-bottom: 1px solid #d4e9e7;
  margin-bottom: 15px;
}
.dashboard-header h2,
.dashboard-header h3 {
  margin: 8px 0;
}
.dashboard-header .dashboard-number {
  margin-left: 10px;
  color: #c7c7c7;
}
.progress-container {
  padding-bottom: 45px;
}
.progress-container .device-info {
  position: absolute;
  width: 25%;
  right: 0;
  height: 106px;
  background-color: #ffffff;
  top: 0;
  z-index: 300;
  padding: 0 30px;
  box-sizing: border-box;
  display: none;
  border-left: 1px #679BA5 solid;
  font-size: 12px;
  word-break: break-all;
}
.progress-container .device-info.show {
  display: block;
  -webkit-animation: fadein 0.2s 1;
  -moz-animation: fadein 0.2s 1;
  -ms-animation: fadein 0.2s 1;
  -o-animation: fadein 0.2s 1;
}
.progress-container .key {
  color: #c7c7c7;
  font-size: 12px;
  clear: both;
  vertical-align: middle;
  margin-top: 10px;
}
.progress-container .key .bubble {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 6px;
  margin-right: 2px;
  margin-top: -2px;
  vertical-align: middle;
  position: relative;
  background-size: cover;
}
.progress-container .key .bubble.success {
  background-image: url('../assets/img/success_status.png');
}
.progress-container .key .bubble.failure {
  background-image: url('../assets/img/error_status.png');
}
.progress-container .key .bubble.pending {
  background-image: url('../assets/img/pending_status.png');
}
.progress-container .key .bubble.inprogress,
.progress-container .key .bubble.installing {
  background-image: url('../assets/img/progress_status.png');
}
.progress-container .key .bubble.downloading,
.progress-container .key .bubble.rebooting {
  background-image: url('../assets/img/progress_status.png');
}
.progress-container .progressHeader {
  position: absolute;
  top: -25px;
  left: 340px;
  color: #757575;
  font-size: 14px;
}
.progress-container .bubbles-contain {
  height: 100px;
  width: 350px;
  position: relative;
  top: -10px;
  padding-left: 30px;
}
.progress-container .bubbles-contain > div {
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  cursor: pointer;
}
.progress-container .bubbles-contain > div:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 110%;
  width: 500px;
  border-bottom: 1px #679BA5 solid;
  z-index: 200;
  -webkit-animation: fadein 0.6s 1;
  -moz-animation: fadein 0.6s 1;
  -ms-animation: fadein 0.6s 1;
  -o-animation: fadein 0.6s 1;
}
.progress-container .bubbles-contain .bubble {
  border-radius: 50%;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: 66%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eaf4f3;
}
.progress-container .bubbles-contain .bubble:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border: 1px solid #679BA5;
}
.progress-container .bubbles-contain .inprogress .bubble,
.progress-container .bubbles-contain .installing .bubble {
  -webkit-animation: pulse 2.8s infinite;
  -moz-animation: pulse 2.8s infinite;
  -ms-animation: pulse 2.8s infinite;
  -o-animation: pulse 2.8s infinite;
  background-image: url('../assets/img/progress_status_large.png');
}
.progress-container .bubbles-contain .downloading .bubble,
.progress-container .bubbles-contain .rebooting .bubble {
  -webkit-animation: pulse 2.8s infinite;
  -moz-animation: pulse 2.8s infinite;
  -ms-animation: pulse 2.8s infinite;
  -o-animation: pulse 2.8s infinite;
  background-image: url('../assets/img/progress_status.png');
}
.progress-container .bubbles-contain .pending .bubble {
  background-color: #f7fbfb;
  background-image: url('../assets/img/pending_status_large.png');
}
.progress-container .bubbles-contain .failure .bubble {
  background-image: url('../assets/img/error_status_large.png');
}
.progress-container .bubbles-contain .success .bubble {
  background-image: url('../assets/img/success_status_large.png');
}
.progress-container .deploymentInfo,
.deployments-container .deploymentInfo,
.report-container .deploymentInfo {
  font-size: 14px;
  white-space: nowrap;
}
.progress-container .deploymentInfo > div,
.deployments-container .deploymentInfo > div,
.report-container .deploymentInfo > div {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress-container .progressLabel,
.deployments-container .progressLabel,
.report-container .progressLabel {
  color: #c7c7c7;
  margin-right: 5px;
  margin-bottom: 0;
  width: 100px;
  display: inline-block;
}
.progress-container .deployment {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #eaf4f3;
  overflow: hidden;
}
.deployments-container .deployment {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 15px;
  min-width: 220px;
  max-width: 320px;
  padding: 20px 20px 0;
  min-height: 210px;
  border-radius: 4px;
  border: 1px solid #eaf4f3;
  cursor: pointer;
  vertical-align: top;
}
.deployments-container .deployment:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: 1px solid #c7c7c7;
  background-color: #fdfdfe;
}
.deployments-container .resultIcons {
  display: inline-block;
  width: 50%;
  padding: 0 2% 12px;
  font-size: 2em;
  position: relative;
  max-height: 76px;
}
.deployments-container .resultIcons img {
  display: inline;
  margin: 10px 0;
  vertical-align: middle;
  width: 50%;
  padding: 0 5%;
}
.deployments-container .resultIcons div {
  vertical-align: middle;
  text-align: center;
  width: 40%;
  padding: 0 5%;
  display: inline-block;
}
.deployments-container .resultIcons span.iconStatLabel {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  font-size: 12px;
  color: #c7c7c7;
  text-align: center;
}
.deployments-container .skipped-text {
  color: #c7c7c7;
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
}
.deploy-table-contain {
  min-height: 206px;
  margin-bottom: 60px;
  margin-top: 30px;
}
@media (min-width: 1700px) {
  .deployments-container .progressLabel {
    margin-right: 35px;
  }
}
.fail {
  color: #8F0D0D;
}
.fail > div {
  background-color: #F6F1F1;
}
.fail div {
  color: #8F0D0D !important;
}
.fail .material-icons {
  color: #8F0D0D !important;
}
.statusLarge {
  overflow: visible!important;
  position: relative;
  display: inline-block;
  top: -5px;
  margin-right: 15px;
}
.statusLarge > img {
  vertical-align: top;
  display: inline;
}
.statusLarge .statusWrapper {
  max-width: 160px;
  min-height: 38px;
  padding: 15px 20px 25px;
  margin-left: 10px;
  background-color: #F7F7F7;
  position: relative;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  white-space: normal;
}
.statusLarge .statusWrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  z-index: 20000;
  top: 5px;
  left: -19px;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #F7F7F7;
}
.progressStatus {
  background-color: #F7F7F7;
  padding: 15px 90px 15px;
  position: relative;
  top: -26px;
  height: a uto;
  margin: 30px 30px 0 0;
  display: inline-block;
  vertical-align: top;
}
.progressStatus #progressStatus {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 120px;
}
.slider {
  padding: 15px 15px 5% 30px;
  height: 95%;
  overflow-y: auto;
  margin-bottom: -30px;
}
.slider p {
  padding: 0 15px;
}
.heightTransition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  50% {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  37% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  81% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  37% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  81% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}
div.shake-alert {
  -webkit-animation: shake 0.72s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.72s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}
@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}
/* LESS MIXINS */
.loaderContainer {
  height: 50px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.loaderContainer.shrunk {
  height: 0;
}
.loader {
  position: relative;
  width: 44px;
  height: 8px;
  margin: 30px auto 15px;
}
.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #679BA5;
  position: absolute;
}
.dot_1 {
  -webkit-animation: animateDot1 1.5s linear infinite;
          animation: animateDot1 1.5s linear infinite;
  left: 12px;
  background: #7D3F69;
}
.dot_2 {
  -webkit-animation: animateDot2 1.5s linear infinite;
          animation: animateDot2 1.5s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 24px;
}
.dot_3 {
  -webkit-animation: animateDot3 1.5s linear infinite;
          animation: animateDot3 1.5s linear infinite;
  left: 12px;
}
.dot_4 {
  -webkit-animation: animateDot4 1.5s linear infinite;
          animation: animateDot4 1.5s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 24px;
}
@-webkit-keyframes animateDot1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(-12px);
            transform: rotate(0deg) translateX(-12px);
  }
  25% {
    -webkit-transform: rotate(180deg) translateX(-12px);
            transform: rotate(180deg) translateX(-12px);
  }
  75% {
    -webkit-transform: rotate(180deg) translateX(-12px);
            transform: rotate(180deg) translateX(-12px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(-12px);
            transform: rotate(360deg) translateX(-12px);
  }
}
@keyframes animateDot1 {
  0% {
    -webkit-transform: rotate(0deg) translateX(-12px);
            transform: rotate(0deg) translateX(-12px);
  }
  25% {
    -webkit-transform: rotate(180deg) translateX(-12px);
            transform: rotate(180deg) translateX(-12px);
  }
  75% {
    -webkit-transform: rotate(180deg) translateX(-12px);
            transform: rotate(180deg) translateX(-12px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(-12px);
            transform: rotate(360deg) translateX(-12px);
  }
}
@-webkit-keyframes animateDot2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(-12px);
            transform: rotate(0deg) translateX(-12px);
  }
  25% {
    -webkit-transform: rotate(-180deg) translateX(-12px);
            transform: rotate(-180deg) translateX(-12px);
  }
  75% {
    -webkit-transform: rotate(-180deg) translateX(-12px);
            transform: rotate(-180deg) translateX(-12px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(-12px);
            transform: rotate(-360deg) translateX(-12px);
  }
}
@keyframes animateDot2 {
  0% {
    -webkit-transform: rotate(0deg) translateX(-12px);
            transform: rotate(0deg) translateX(-12px);
  }
  25% {
    -webkit-transform: rotate(-180deg) translateX(-12px);
            transform: rotate(-180deg) translateX(-12px);
  }
  75% {
    -webkit-transform: rotate(-180deg) translateX(-12px);
            transform: rotate(-180deg) translateX(-12px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(-12px);
            transform: rotate(-360deg) translateX(-12px);
  }
}
@-webkit-keyframes animateDot3 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px);
            transform: rotate(0deg) translateX(12px);
  }
  25% {
    -webkit-transform: rotate(180deg) translateX(12px);
            transform: rotate(180deg) translateX(12px);
  }
  75% {
    -webkit-transform: rotate(180deg) translateX(12px);
            transform: rotate(180deg) translateX(12px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(12px);
            transform: rotate(360deg) translateX(12px);
  }
}
@keyframes animateDot3 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px);
            transform: rotate(0deg) translateX(12px);
  }
  25% {
    -webkit-transform: rotate(180deg) translateX(12px);
            transform: rotate(180deg) translateX(12px);
  }
  75% {
    -webkit-transform: rotate(180deg) translateX(12px);
            transform: rotate(180deg) translateX(12px);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(12px);
            transform: rotate(360deg) translateX(12px);
  }
}
@-webkit-keyframes animateDot4 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px);
            transform: rotate(0deg) translateX(12px);
  }
  25% {
    -webkit-transform: rotate(-180deg) translateX(12px);
            transform: rotate(-180deg) translateX(12px);
  }
  75% {
    -webkit-transform: rotate(-180deg) translateX(12px);
            transform: rotate(-180deg) translateX(12px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(12px);
            transform: rotate(-360deg) translateX(12px);
  }
}
@keyframes animateDot4 {
  0% {
    -webkit-transform: rotate(0deg) translateX(12px);
            transform: rotate(0deg) translateX(12px);
  }
  25% {
    -webkit-transform: rotate(-180deg) translateX(12px);
            transform: rotate(-180deg) translateX(12px);
  }
  75% {
    -webkit-transform: rotate(-180deg) translateX(12px);
            transform: rotate(-180deg) translateX(12px);
  }
  100% {
    -webkit-transform: rotate(-360deg) translateX(12px);
            transform: rotate(-360deg) translateX(12px);
  }
}
.smallLoaderContainer {
  position: relative;
  top: -58px;
}
.smallLoaderContainer .loader {
  margin: 30px 0 15px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}
