html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* General */
.green {
  color: #007647;
}
.red {
  color: #6A150C;
}
.lightestgrey {
  background-color: #F7F7F7;
}
.lightgrey {
  background-color: #d4e9e7;
}
.grey {
  background-color: #c7c7c7;
}
/* Type */
body {
  font-family: Lato, sans-serif;
  font-size: 13px;
  margin: 0;
  color: #404041;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
a,
span.link {
  font-weight: bold;
  text-decoration: none;
  color: #347A87;
  cursor: pointer;
}
a:hover,
span.link:hover {
  color: #679BA5;
}
.nowrap {
  white-space: nowrap;
}
.clear {
  clear: both;
}
.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.relative {
  position: relative;
}
.margin-top {
  margin-top: 30px;
}
.margin-top-small {
  margin-top: 15px;
}
.margin-top-none {
  margin-top: 0;
}
.margin-left {
  margin-left: 30px;
}
.margin-left-small {
  margin-left: 15px;
}
.margin-right {
  margin-right: 30px;
}
.margin-bottom {
  margin-bottom: 30px;
}
.margin-bottom-large {
  margin-bottom: 45px;
}
.margin-bottom-small {
  margin-bottom: 15px;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.padding-right {
  padding-right: 45px;
}
.padding-top {
  padding-top: 30px;
}
.padding-bottom {
  padding-bottom: 30px;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.clickable {
  cursor: pointer;
}
.muted {
  opacity: 0.4;
}
.hoverText:hover > hr {
  border-bottom: 2px solid #e0e0e0 !important;
}
/* Header */
#header-nav {
  position: relative;
  border-top: 1px solid #e0e0e0;
  padding-right: 30%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
}
#logo {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 180px;
  height: 48px;
  background-image: url('../assets/img/headerlogo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/* Layout */
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
.align-top {
  display: inline-block;
  vertical-align: top;
}
.leftFixed {
  width: 260px;
  float: left;
}
.leftFixed .innerBlock {
  width: 100%;
  margin-right: -260px;
  padding-top: 20px;
}
.rightFluid {
  margin-left: 290px;
  padding-bottom: 30px;
  position: relative;
}
.tableActions {
  padding: 20px 0 20px 28px;
}
.dialog {
  -webkit-transition: width 1s ease-in-out !important;
  -moz-transition: width 1s ease-in-out !important;
  -ms-transition: width 1s ease-in-out !important;
  -o-transition: width 1s ease-in-out !important;
}
.largeDialog {
  width: inherit !important;
  max-width: 96% !important;
  -webkit-transition: width 1s ease-in-out !important;
  -moz-transition: width 1s ease-in-out !important;
  -ms-transition: width 1s ease-in-out !important;
  -o-transition: width 1s ease-in-out !important;
}
.dialogTableContainer {
  padding-top: 30px;
  -webkit-transition: opacity 0.7s ease-in !important;
  -moz-transition: opacity 0.7s ease-in !important;
  -ms-transition: opacity 0.7s ease-in !important;
  -o-transition: opacity 0.7s ease-in !important;
  overflow: hidden;
  position: relative;
  opacity: 1;
  min-height: 53vh;
}
.dialogTableContainer.zero {
  min-height: 100px;
  height: 100px;
  opacity: 0;
  padding: 0;
}
.onboard {
  padding: 15px;
  border-style: dashed;
  border-color: #e7e7e7;
  border-width: 1px;
  text-align: center;
  position: relative;
  background-color: #000000;
}
.onboard.authorize {
  background-color: inherit;
}
.onboard p {
  margin-top: 0;
  font-size: 1.25em;
}
.onboard h3 {
  font-family: Andale Mono;
  font-weight: lighter;
  color: #e7e7e7;
  margin-top: 10px;
  font-size: 1.25em;
}
.onboard h3 span.todo {
  color: yellow;
}
.onboard .link.todo {
  color: lawngreen;
  font-family: Andale Mono;
  text-decoration: underline;
}
.onboard .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/close.png');
  cursor: pointer;
}
.onboard a.float-right {
  position: relative;
  bottom: 10px;
  font-size: 1em;
}
.material-icons.green {
  background: none;
  color: #007647 !important;
}
.material-icons.red {
  background: none;
  color: #6A150C !important;
}
.absoluteTextfieldButton {
  position: absolute;
  top: 70px;
  left: 24px;
  -webkit-transition: all 0.42s ease-in-out !important;
  -moz-transition: all 0.42s ease-in-out !important;
  -ms-transition: all 0.42s ease-in-out !important;
  -o-transition: all 0.42s ease-in-out !important;
  z-index: 1400;
  display: inline-block;
}
.absoluteTextfieldButton.top-right {
  left: 478px;
}
.fixedSearch {
  position: fixed;
  left: 24px;
  right: 24px;
  top: 68px;
  padding: 24px 0;
  background-color: white;
  z-index: 30000;
}
.top-right {
  position: absolute !important;
  top: 0;
  right: 0;
}
.widget {
  width: 50%;
  min-height: 200px;
  float: left;
  padding: 22px 4% 22px;
  margin: 0 15px 30px;
}
.widget.small {
  width: 20%;
}
.filterWrapper {
  padding: 10px 20px;
  overflow-y: auto;
}
.filterPair {
  margin-bottom: 14px;
  padding: 4px 10% 4px 11px;
  position: relative;
  background-color: #fafbfc;
}
.filterPair:first-child {
  margin-top: 14px;
}
span.length {
  font-size: 13px;
  color: #8c8c8d;
}
.maxTable {
  max-height: 50vh;
  overflow: auto;
}
.columnHeader .sortIcon {
  visibility: hidden;
  -webkit-transition: visibility 0.1s ease-in !important;
  -moz-transition: visibility 0.1s ease-in !important;
  -ms-transition: visibility 0.1s ease-in !important;
  -o-transition: visibility 0.1s ease-in !important;
}
.columnHeader:hover .sortIcon {
  visibility: visible;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.columnHeader:hover .sortIcon.selected,
.columnHeader .sortIcon.selected {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.15s ease-in-out !important;
  -moz-transition: all 0.15s ease-in-out !important;
  -ms-transition: all 0.15s ease-in-out !important;
  -o-transition: all 0.15s ease-in-out !important;
}
.columnHeader .sortIcon.selected.false {
  -webkit-transform: rotateX(180deg) !important;
  -moz-transform: rotateX(180deg) !important;
  -ms-transform: rotateX(180deg) !important;
  -o-transform: rotateX(180deg) !important;
}
.tableSearch {
  display: inline-block;
  margin-left: 45px;
  position: relative;
  top: -4px;
}
.search input,
.search input:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #e0e0e0;
  padding: 7px 0;
  padding-left: 24px;
  font-size: 13px;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.search input::-webkit-input-placeholder,
.search input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input:-moz-placeholder,
.search input:focus:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input::-moz-placeholder,
.search input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search input:-ms-input-placeholder,
.search input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  content: "Search";
}
.search::before {
  content: "\26b2";
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 20px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.3);
}
.closeSlider {
  box-shadow: rgba(0, 0, 0, 0.156863) -2px 0px 4px -9px, rgba(0, 0, 0, 0.227451) -5px 0px 5px -2px !important;
}
.closeSlider:hover {
  background-color: #EBEBEB !important;
}
/* report view */
.report-list,
.list-item {
  display: inline-block;
  margin-right: 3%;
  width: 30%;
  vertical-align: bottom;
}
.listItem-link {
  float: right;
  font-size: 13px;
  font-weight: 500;
}
.tabContainer,
.contentContainer {
  padding: 30px 45px 60px;
  position: relative;
  overflow: hidden;
}
/* Forms */
.inputGroup {
  padding: 12px;
  background-color: rgba(66, 66, 66, 0.03);
}
p.info {
  margin: 20px 0;
  color: rgba(66, 66, 66, 0.6);
}
button:disabled .material-icons {
  color: rgba(0, 0, 0, 0.3) !important;
}
button.remove-icon:disabled .material-icons {
  color: rgba(0, 0, 0, 0.3) !important;
}
button.remove-icon .material-icons {
  color: #679BA5 !important;
}
.inline-action {
  position: relative;
  top: -6px;
  margin-left: 10px;
}
.material-icons.error-icon {
  color: #ab1000 !important;
}
hr.table-divider {
  border: 0;
  height: 6px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0));
}
tr.expand {
  height: 374px !important;
  background-color: #e0e0e0;
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
}
tr.expand td {
  vertical-align: top;
  padding-top: 16px;
}
tr.expand td div.expanded {
  position: absolute;
  left: 0;
  margin-top: 46px;
  padding: 0 30px;
  right: 0;
  padding-right: 45px;
  height: 325px;
  background-color: #ffffff;
}
tr.expand td div.expanded > div {
  -webkit-animation: fadein 0.5s 1;
          animation: fadein 0.5s 1;
  background-color: #ffffff;
}
tr.expand td:first-child > div div {
  margin-top: -1px;
}
tr.expand td:last-child {
  padding-top: 3px;
}
tr.expand td.expandButton {
  padding-top: 2px;
}
tr.expand.devices {
  height: 340px !important;
}
tr.expand.devices td div.expanded {
  height: 290px;
}
.fixedButtons {
  position: fixed;
  bottom: 15px;
  right: 30px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-animation: fadein 0.3s 1;
          animation: fadein 0.3s 1;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.top-right-button {
  position: absolute;
  top: 0;
  right: 0;
}
.tagContainer {
  margin-top: 20px;
}
.ReactTags__tag {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #d4e9e7;
  color: #679BA5;
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
}
.ReactTags__remove {
  cursor: pointer;
  padding: 10px 0 10px 10px;
}
.ReactTags__tagInput input,
.ReactTags__tagInput input:focus,
input.fileInput {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #e0e0e0;
  padding: 7px 0;
  font-size: 16px;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
.ReactTags__tagInput input::-webkit-input-placeholder,
.ReactTags__tagInput input:focus::-webkit-input-placeholder,
input.fileInput::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input:-moz-placeholder,
.ReactTags__tagInput input:focus:-moz-placeholder,
input.fileInput:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input::-moz-placeholder,
.ReactTags__tagInput input:focus::-moz-placeholder,
input.fileInput::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.ReactTags__tagInput input:-ms-input-placeholder,
.ReactTags__tagInput input:focus:-ms-input-placeholder,
input.fileInput:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
input[type="file"].fileInput,
input[type="text"].fileInput {
  width: 256px !important;
  margin: 32px 0 10px 0;
  cursor: pointer;
}
input[type="file"].fileInput:first-child,
input[type="text"].fileInput:first-child {
  z-index: 2 !important;
}
input[type="file"].fileInput:last-child,
input[type="text"].fileInput:last-child {
  z-index: 1 !important;
}
.inputHeader {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: block;
}
/* Dashboard */
.leftDashboard {
  width: 71%;
  float: left;
}
.rightDashboard {
  width: 25%;
  float: right;
  min-height: 50vh;
  border-left: 1px solid #d4e9e7;
  padding-left: 2%;
}
.health {
  position: relative;
}
.health .health-panel {
  margin: 15px 0;
  box-sizing: border-box;
  padding: 3% 5% 6%;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid #eaf4f3;
}
.health .health-panel .health-icon {
  width: 50%;
}
.health .health-panel .health-text {
  width: 50%;
  text-align: center;
}
.health .health-panel a {
  margin-top: -2%;
}
.health .health-panel span {
  font-size: 20px;
  vertical-align: text-top;
  font-size: 1.1vw;
}
.health .health-panel .number {
  font-size: 4vw;
  font-weight: bold;
  position: relative;
  top: -2px;
  display: block;
}
.dashboard-placeholder {
  font-size: 16px;
  color: #c7c7c7;
  text-align: center;
  padding: 30px;
}
.dashboard-placeholder img {
  margin-top: 15px;
  width: 74px;
}
.activityWrapper {
  margin-bottom: 30px;
  position: relative;
}
.activityWrapper .activityEntry {
  padding: 1px 12px 0.5em;
  background-color: #679BA5;
  color: #E0E0E0;
  position: relative;
}
.activityWrapper .activityEntry p.summary {
  color: #F7F7F7;
}
.activityWrapper .activityEntry:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  bottom: -9px;
  left: 10px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #679BA5;
}
.activityWrapper .activityEntry.negative {
  background-color: #7D3F69;
}
.activityWrapper .activityEntry.negative:after {
  border-left: 10px solid #7D3F69;
}
.activityWrapper .activityTime {
  color: #c7c7c7;
  position: relative;
  top: 12px;
}
.activityEntry {
  cursor: pointer;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.activityEntry:hover {
  -webkit-transform: scale(1.005);
  -moz-transform: scale(1.005);
  -ms-transform: scale(1.005);
  -o-transform: scale(1.005);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.deployments {
  position: relative;
}
span.month,
span.day {
  display: block;
  text-align: center;
}
.dashboard-header {
  border-bottom: 1px solid #d4e9e7;
  margin-bottom: 15px;
}
.dashboard-header.subsection {
  border: none;
}
.dashboard-header h2,
.dashboard-header h3 {
  margin: 8px 0;
}
.dashboard-header .dashboard-number {
  margin-left: 10px;
  color: #c7c7c7;
}
.progress-container {
  padding-bottom: 45px;
  border-bottom: 1px solid #d4e9e7;
}
.progress-container hr {
  background-color: #eaf4f3 !important;
}
.progress-container .deploymentInfo,
.deployments-container .deploymentInfo {
  font-size: 14px;
  white-space: nowrap;
}
.progress-container .deploymentInfo > div,
.deployments-container .deploymentInfo > div {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.progress-container .progressLabel,
.deployments-container .progressLabel {
  color: #c7c7c7;
  margin-right: 5px;
  margin-bottom: 0;
  width: 100px;
  display: inline-block;
}
.deployments-container {
  padding-bottom: 45px;
}
.deployments-container .deployment {
  display: inline-block;
  width: 25%;
  margin-right: 2%;
  margin-bottom: 15px;
  min-width: 220px;
  padding: 20px 16px;
  min-height: 100px;
  border-radius: 4px;
  border: 1px solid #eaf4f3;
}
.fail {
  color: #6A150C;
}
.fail > div {
  background-color: #F6F1F1;
}
.fail div {
  color: #6A150C !important;
}
.fail .material-icons {
  color: #6A150C !important;
}
.slider {
  padding: 15px 15px 5% 30px;
  height: 95%;
  overflow-y: auto;
  margin-bottom: -30px;
}
.slider p {
  padding: 0 15px;
}
.heightTransition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* LESS MIXINS */
